* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button{
    background-color: aliceblue;
    padding: 6px 12px;
    border: 0px;
    border-radius: 12px;
    margin: 20px;
    cursor: pointer;
}

.card-container{
    width: 80%;
    margin: auto;
    border: 1px solid blue;
}

#recetas{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.card {
    border: 1px solid red;
    width: 30%;
    margin: 20px;
}

.img{
    width: 100%;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}